In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#ML
# EDA
# preprocessing
# encoding
# train test split
# model bulding
# evalution

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [9]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
# one hand encoding
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [12]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
# tensorflow develop by google
# pytorch develop by meta  use in LLM
# keras (wrapper)

In [16]:
X.shape

(10000, 11)

In [17]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [18]:
#  ANN
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.activations import relu,sigmoid
from tensorflow.keras.callbacks import EarlyStopping

In [19]:
model = Sequential()

In [20]:
# input layer
model.add(Dense(units=11,activation='relu'))
model.add(Dropout(0.2))
# hidden 1
model.add(Dense(units=7,activation = 'relu'))
model.add(Dropout(0.2))
# hidden 2
model.add(Dense(units=6,activation='relu'))
model.add(Dropout(0.2))
# output
model.add(Dense(units=1,activation='sigmoid'))

In [21]:
early =tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=0,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [22]:
# from keras.sequatial  loaded sequatial
# create model
# using dense = input layar
# 1 hidden
# 2 hidden
# output layer
# we compile model by setting some optimizer and loss function
# we train for traing data
# early stopping,dropout,validation split
# prediction
# evaluation
# plot = compare training loss
# plot = compare validation loss

In [23]:
# training -> 70% - 30%
# validation split use in testing hyperparameter

In [24]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [25]:
model.fit(X_train,y_train,epochs=100,validation_split=0.3,callbacks=[early])

Epoch 1/100
175/175  3s 6ms/step - accuracy: 0.6945 - loss: 0.6041 - val_accuracy: 0.7887 - val_loss: 0.4895
Epoch 2/100
175/175  1s 5ms/step - accuracy: 0.7850 - loss: 0.5332 - val_accuracy: 0.7887 - val_loss: 0.4710
Epoch 3/100
175/175  1s 3ms/step - accuracy: 0.7913 - loss: 0.5047 - val_accuracy: 0.7887 - val_loss: 0.4604
Epoch 4/100
175/175  0s 3ms/step - accuracy: 0.7988 - loss: 0.4855 - val_accuracy: 0.7887 - val_loss: 0.4545
Epoch 5/100
175/175  1s 3ms/step - accuracy: 0.7988 - loss: 0.4735 - val_accuracy: 0.7887 - val_loss: 0.4481
Epoch 6/100
175/175  1s 3ms/step - accuracy: 0.7918 - loss: 0.4846 - val_accuracy: 0.7887 - val_loss: 0.4402
Epoch 7/100
175/175  0s 3ms/step - accuracy: 0.8028 - loss: 0.4579 - val_accuracy: 0.7887 - val_loss: 0.4374
Epoch 8/100
175/175  0s 3ms/step - accuracy: 0.8105 - loss: 0.4591 - val_accuracy: 0.7896 - val_loss: 0.4351
Epoch 9/100
175/175  0s 3ms/step - accuracy: 0.8103 - loss: 0.4520 - val_accuracy: 0.7933 - val_loss: 0.4305
Epoch 10/100
175/175  1s 3ms/step - accuracy: 0.7940 - loss: 0.4670 - val_accuracy: 0.7967 - val_loss: 0.4282
Epoch 11/100
175/175  1s 3ms/step - accuracy: 0.8024 - loss: 0.4590 - val_accuracy: 0.7950 - val_loss: 0.4279
Epoch 12/100
175/175  0s 3ms/step - accuracy: 0.7903 - loss: 0.4814 - val_accuracy: 0.7983 - val_loss: 0.4249
Epoch 13/100
175/175  0s 3ms/step - accuracy: 0.8180 - loss: 0.4424 - val_accuracy: 0.8062 - val_loss: 0.4208
Epoch 14/100
175/175  1s 3ms/step - accuracy: 0.8271 - loss: 0.4258 - val_accuracy: 0.8158 - val_loss: 0.4157
Epoch 15/100
175/175  0s 3ms/step - accuracy: 0.8238 - loss: 0.4290 - val_accuracy: 0.8225 - val_loss: 0.4082
Epoch 16/100
175/175  1s 3ms/step - accuracy: 0.8097 - loss: 0.4436 - val_accuracy: 0.8221 - val_loss: 0.4069
Epoch 17/100
175/175  1s 3ms/step - accuracy: 0.8275 - loss: 0.4133 - val_accuracy: 0.8283 - val_loss: 0.4025
Epoch 18/100
175/175  1s 3ms/step - accuracy: 0.8246 - loss: 0.4251 - val_accuracy: 0.8263 - val_loss: 0.4015
Epoch 19/100
175/175  0s 3ms/step - accuracy: 0.8394 - loss: 0.3987 - val_accuracy: 0.8304 - val_loss: 0.3968
Epoch 20/100
175/175  1s 3ms/step - accuracy: 0.8322 - loss: 0.3976 - val_accuracy: 0.8263 - val_loss: 0.3971

In [26]:
y_pred_prob =model.predict(X_test)

63/63  0s 2ms/step

In [27]:
y_pred = (y_pred_prob>0.5).astype(int)

In [28]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [29]:
# evalution
from sklearn.metrics import accuracy_score,classification_report

In [30]:
y_pred_train =( model.predict(X_train)>0.5).astype(int)

250/250  0s 1ms/step

In [31]:
accuracy_score(y_test,y_pred)

0.8485

In [32]:
accuracy_score(y_train,y_pred_train)

0.843875

In [33]:
# dropout 0.2 make some neuron to dead for controling overfitting
# early stopping - stops training the model once loss is not changeing use at training time

In [34]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.98      0.91      1607
           1       0.82      0.30      0.43       393

    accuracy                           0.85      2000
   macro avg       0.83      0.64      0.67      2000
weighted avg       0.84      0.85      0.82      2000

In [36]:
import joblib

# save model
joblib.dump(model, "ANN_model.pkl")
print("model saved")

model saved